* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
/* <link rel="stylesheet" href="https://use.typekit.net/jqs8oav.css"> */
@font-face {
  font-family: 'Gitan';
  src: local('Gitan'), url(https://use.typekit.net/jqs8oav.css) format('truetype');
}
::selection {
  background: #FFF7C7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFF7C7; /* Gecko Browsers */
}

/*
 * Globals
 */
body {
  /* padding: 20px; */
  color: #72767b;
  font-family: 'Gitan', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing : 0.4;
  line-height: 28px;
}
a {
  color: #72767B;
  font-size: 14px;
  font-weight: 400;
  letter-spacing : 0.35;
  line-height: 28px;
  text-decoration: none;
}
p a {
  text-decoration: underline;
}
h2, h3, h4, h5, h6 {
  font-family: gitan-latin, sans-serif;
}
h1 {
  font-family: 'Amiri', Serif; 
  font-size: 42px; 
  font-weight: normal; 
  color: #484D52; 
  line-height: 52px; 
  letter-spacing : 1.14;
  margin-bottom: 1rem;
}
h2, h2 a {
  margin-bottom: 1rem;
  color: #484d52;
  font-size: 32px;
  font-weight: 700;
  letter-spacing : 0.85;
  line-height: 42px;
}
h3, h3 a {
  margin-bottom: 1rem;
  Color: #484d52;
  font-size: 20px;
  font-weight: 400;
  letter-spacing : 0.52;
  line-height: 34px;
}
p {
  margin-bottom: 2rem;
}
pre, ul {
  margin-bottom: 20px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  max-width: 100%;
}
input[type="search"] {
  -webkit-appearance: none;
}
input{
  border-radius: 0;
}
.padding-b-0{
  padding-bottom: 0;
}
.margin-b-0{
  margin-bottom: 0;
}
.flex{
  display: flex;
}
.flex-center{
  justify-content: center;
}
.flex-end{
  justify-content: flex-end;
}
.flex-between{
  justify-content: space-between;
}
.align-v-center{
  align-items: center;
}
.padding-left-20{
  padding-left: 20px;
}
.padding-r-5 {
  padding-right: 5px;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.white{
  color: white;
}
.semi-bold{
  font-weight: 500;
}
.font-18{
  font-size: 18px;
}
.hidden{
  display: none;
}
.block{
  display: block;
}
.pointer{
  cursor: pointer;
}
.grey-darker {
  color: #212121;
}
.padding-b-5{
  padding-bottom: 5px;
}
.margin-r-15{
  margin-right: 15px;
}
.text-center{
  text-align: center;
}
.margin-t-50{
  margin-top: 50px;  
}
.full-width{
  width: 100%;
}